.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: bisque !important;
    height: 100vh !important;
    width: 680px;
    text-align: center;
}

.card{
    font-family: cursive;
}

.card-title{
    box-shadow: 0 2px 15px -5px #333;
    padding-bottom: 10px;
}

.form{
    margin-top: 15px;
}

#todoInput{
    width: 70%;
    height: 25px;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 10px;
    border: none;
    outline: none;
}

#todoInput::placeholder{
    font-size: 13px;
}

#todoBtn{
    background: none;
    border: 1px solid #ff717187;
    border-radius: 4px;
    height: 28px;
    font-size: 13px;
    color: #ff7171ba;
    margin-left: 5px;
}

#todoBtn:hover{
    color: #e91e63 !important;
    border: 1px solid #e91e63 !important;
}

#list td{
    border-radius: 8px;
    transition: .3s;
}

#list td:hover{
    background-color: #e7be8d99;
    color: white;
    font-weight: bold;
}

.action button{
        height: 25px;
        line-height: 0;
}

.action button:hover{
    background: unset !important;
    color: black !important;
}